@import "tailwindcss";

@font-face {
  font-family: 'Catchy Mager';
  src: url('/fonts/catchy-mager.otf') format('otf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'The Seasons bold';
  src: url('/fonts/the-seasons-bd.otf') format('otf');
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}

@font-face {
  font-family: 'The Seasons';
  src: url('/fonts/the-seasons-reg.otf') format('otf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


/* —————————————————————————————————————————————— */
/*              Tailwind “theme” overrides        */
/* —————————————————————————————————————————————— */
@theme {
  /* COLORS (snake_case → kebab-case) */
  --color-black-p:          #172124;
  --color-brown-text:         #2e1a0d;
  --color-background-main:  #F1EDE9;
  --color-background-accent:#D9DFD6;
  --color-background-secondary: #D3D3C9;
  --color-text-hover-accent: #a67758;

  --color-card-one:         #F5F0DE;
  --color-card-two:         #D2D2CA;
  --color-card-three:       #D6D3B5;

  /* FONT FAMILIES */
  --font-header1:
    'Catchy Mager',
    serif;
  
  --font-header2:
    'The Seasons bold',
    serif;
  
  --font-logo:
    'Times New Roman',
    serif;

  --font-text:
    'Cormorant Garamond',
    serif;

  /* CONTAINER */
  --container-center:       true;
  --container-padding:      1rem;
  --container-md-padding:   2rem;

  /* SCALE */
  --scale-0:   0;
  --scale-100: 1;

  /* BREAKPOINTS */
  --breakpoint-xsm: 540px;
}



@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 64px;
  }

  p {
    font-family: var(--font-text);
    color: var(--color-black-p);
  }

  a {
    font-family: var(--font-text);
    color: var(--color-black-p);
  }

  h {
    font-family: var(--font-header1);
    color: var(--color-brown-text);
  }

}

@layer utilities {
  .bg-gradient-bottom-fade {
    background: linear-gradient(to bottom, var(--color-background-main) 60%, var(--color-background-secondary) 100%);
  }

  .bg-gradient-top-fade {
    background: linear-gradient(to bottom, var(--color-background-secondary) 60%, var(--color-background-main) 100%);
  }

  .bg-gradient-to-contact {
    background: linear-gradient(to bottom, var(--color-background-main) 60%, #E7E2CE 100%);
  }

  .text-shadow-strong {
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
  }

  .super-subtle-blur {
    backdrop-filter: blur(0.5px);
    background-color: rgba(0, 0, 0, 0.4);
  }

}


